<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/root.css">
    <link rel="stylesheet" href="../public/styles/game.css">
    <link rel="shortcut icon" href="../public/res/images/logo.svg" type="image/x-icon">
    <title>Game</title>
</head>

<body class="flex-column">

    <div id="over" class="flex-row">
        <div class="players-label flex-row"> Players [0/4] :</div>
        <div class="players-container flex-row"></div>
        <div class="title">
            Alege echipa
        </div>
       <div id="choose_razboinici" team="0" class="flex-column razboinici side">
            <h3>Războinicii</h3>
            <div class="flex-column members"></div>
       </div>
       <div id="choose_faimosi" team="1" class="flex-column faimosi side">
            <h3>Faimoșii</h3>
            <div class="flex-column members"></div>
       </div>
       <div id="ready">
           Players ready... [0/4]
       </div>
       <form method="dialog" id="lobby-chat" autocomplete="off">
            <div id="chat-history"></div>
            <input type="text" >
            <button type="submit" class='send'><img src="../public/res/images/send.svg" alt="SEND"></button>
       </form>
    </div>

    <div class="background">
    </div>

    <nav class="flex-row">
        <div class="echipe flex-column">
            <div class="razboinici flex-row" team="0">
                <p>Razboinicii: </p>
                <span class="scor">0</span>
            </div>
            <div class="faimosi flex-row" team="1">
                <p>Faimoșii: </p>
                <span class="scor">0</span>
            </div>
        </div>
        <div class="timer flex-row">
            <h4 id="round-label" class="round-label">Round 1</h4>
            <div class="bar-box flex-row">
                <h4 id="time-left" class="time-left"></h4>
                <div id="bar" class="bar"></div>
            </div>
        </div>

        <form id="media" class="media flex-column" action="" method="dialog" autocomplete="off">
            <div id="player"></div>
            <div class="flex-row song">
                <div class="flex-row volume">
                    <img src="../public/res/images/volume.svg" alt="">
                </div>
                <input id="search" type="text" placeholder="Search song">
                <button type="submit" class="submit">
                    <img src="../public/res/images/send.svg" alt="">
                </button>
            </div>
            <h3 class="song-title">Song name</h3>
        </form>
    </nav>
    <main class="flex-row">
        <aside class="players left flex-column">
            <div team="0" player="0"class="userbox razboinic TURN CATCHED">
                <div  class="name flex-row" ></div>
                <div class="catcher"></div>
                <div class="messageBox"></div>
                
            </div>
            <div team="1" player="1"class="userbox faimos">
                <div class="name flex-row"> </div>
                <div class="catcher"></div>
                <div class="messageBox"></div>
            </div>
        </aside>
        <div class="gamebox flex-row">
            <div id="table-cards" class="cards flex-row">
               
            </div>
        </div>
        <aside class="players flex-column right">
            <div team="1" player="0" class="userbox faimos">
                <div class="catcher"></div>
                <div class="name flex-row"></div>
                <div class="messageBox"></div>
            </div>
            <div team="0" player="1" class="userbox razboinic">
                <div class="catcher"></div>
                <div class="name flex-row"></div>
                <div class="messageBox"></div>
            </div>
        </aside>

    </main>
    <div id="user" class="flex-row">
        <div class='chat-container flex-row'>
            <div class="shout">
                <div class="shouts flex-column">
                    <div onclick="shout(this)" class="shout-msg">MAI DU-TE DRACU</div>
                    <div onclick="shout(this)" class="shout-msg">DĂ DE MICĂ</div>
                    <div onclick="shout(this)" class="shout-msg">DĂ DE MARE</div>
                    <div onclick="shout(this)" class="shout-msg">NU PRINDE</div>
                    <div onclick="shout(this)" class="shout-msg">PRINDE</div>
                </div>
                <img src="../public/res/images/shout.svg" alt="">
            </div>
            <form id="chat-form" action="" method="dialog" class="chat flex-row" autocomplete="off">
                <input type="text" id="chat-input">
                <button type="submit" class='send'><img src="../public/res/images/send.svg" alt="SEND"></button>
            </form>
        </div>
        <div id="my-cards" class="cards flex-row">
          
        </div>
        <div onclick="wontCatch()" class="willCatch GLOW INVISIBLE">
            Apasa daca nu vrei sa prinzi
        </div>
    </div>


    <div id="endGame" class="flex-column">
        <div class="panel flex-column">
            <h1 class="flex-row title">Game over</h1>
            <div class="score flex-row">
                <div team="0" class="flex-column">
                    <h2 class="name">Războinicii</h2>
                    <h3 class="points">0 Puncte</h3>
                    <h3 class="cartiDuse">0 Carti</h3>
                </div>
                <div team="1" class="flex-column">
                    <h2 class="name">Faimoșii</h2>
                    <h3 class="points">0 Puncte</h3>
                    <h3 class="cartiDuse">0 Carti</h3>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="../public/scripts/gamescript.js"></script>
<script src="../public/scripts/youtube.js"></script>

</html>