<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/root.css">
    <link rel="stylesheet" href="../public/styles/landing.css">
    <link rel="shortcut icon" href="../public/res/images/logo.png" type="image/x-icon">
    <title>Romaneasca</title>
</head>

<body class="flex-column">
    <main class="flex-column">
        <div class="flex-column box">
            <div class="flex-column title-card">
                <img class="logo" src="../public/res/images/logo.png" alt="">
                <h1>Românească</h1>
            </div>
            <form action="/game" method="get" class="flex-column w100">
                <div class="row flex-row">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" autocomplete="off">
                </div>
                <button id="play">JUACĂ</button>
            </form>
        </div>
    </main>
</body>

</html>